// Custom styles.
.post-body{
  word-wrap: break-word;
  word-break: break-all;
  +mobile() {
    word-wrap: break-word;
    word-break: break-all;
  }
  img {
    border-width: 0;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.post-toc{
  .nav-item{
    position: relative;
    font-size: 0; color: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    & > a{
      font-size: 14px; color: #666;
      border-bottom-color: transparent;
    }
    &:hover{
      & > a{
        color: #000;
        border-bottom-color: #000;
      }
    }
    .headerlink{
      &:after{
        content: ""attr(title)"";
      }
    }
  }
}
